        p{
            font-family: Arial, Helvetica, sans-serif ;
            margin-top: 0;
            margin-bottom: 0;
        }

        .video-title{
            font-size: 18px;
            font-weight: bold;
            width: 300px;
            line-height: 24px;    
            margin-bottom: 5px;       
        }

        .video-stats{
            font-size: 14px;
            color: rgb(69, 69, 69);
            margin-bottom: 20px;
        }

        .video-author{
            color: rgb(69, 69, 69);
            font-size: 14px;
            margin-bottom: 18px; 
        }

        .video-discription{
            font-size: 14px;
            color: rgb(69, 69, 69);
            line-height: 20px;
            width: 284px;
            margin-top: 14px;

        }

        .fa{
            color: rgb(149, 149, 149);
            font-size: 24px;
            margin-top: 18px;
            margin-bottom: 10px;
            margin-left: 10px;
            height: auto;
            width: auto;
            
        }

        .apple-banner{
            background-color: rgb(227, 65, 64);
            color: white;
            text-align: center;
            font-size: 14px;
            padding-top: 18px;
            padding-bottom: 18px;
            padding-left: 18px;
            padding-right: 18px;
            margin-bottom: 14px;
            margin-left: 8px;
            margin-right: 8px;
        }

        .apple-link{
            color: white;
            text-decoration: none;
             
        }

        .apple-link:hover{
            text-decoration: underline;
        }